.home-container {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  align-items: center;
}

#categories {
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #lightgrey;
  color: purple;
  font-family: Catamaran;
  font-size: 40px;
}
