.home-container {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Nunito;
  font-size: 40px;
}

#categories {
  padding-top: 40px;
  padding-bottom: 40px;
}


.card-step-title {
  font-size: 26px;
}
