.profile-card {
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  background-color: white;
  display: block;

}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info {
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  background-color: white;
  display: block;
  margin: auto;
  width: 400px;

}


#welcome-message {
  font-family: Goldman;
}

#user-name {
  font-family: Catamaran;
}
