.profile-card {
  width: 20rem;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#welcome-message {
  font-family: Goldman;
}

#user-name {
  font-family: Catamaran;
}
