#profile-page {
  min-height: 80vh;
  margin-top: 80px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.profile-card {
  width: 20rem;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}
