<div class="banner">

  <div>
    <div>
      <h1>BORROW</h1>
    </div>

    <div>
      <p id="tools-tagline">get the tools you need when & where you need 'em</p>
      <p id="sub-tagline">no need to buy 'em</p>
    </div>

    <div id="search-bar">
      <%= form_tag tools_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "find 'em"
        %>
        <%= submit_tag "go", id: "search-button", class: "btn btn-tool" %>
      <% end %>
    </div>
  </div>
</div>
