

<div class="banner">
  <div>
    <div>
      <h1>Petly</h1>
      <div class="css-typing">
        <p>Meet our Mates.</p>
        <p>Mate your Pet.</p>
      </div>
    </div>

    <%= link_to 'learn more', tools_path, class:"btn-banner mt-5" %>


  </div>

</div>
<!-- <div id="search-bar">
      <%= form_tag tools_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "what are you looking for?"
        %>
        <%= submit_tag "go", id: "search-button", class: "btn btn-tool" %>
      <% end %>
    </div>
 -->
