<div class="footer">
  <div class="container">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright pt-3">
      made with 💛 by mrchvs
    </div>
  </div>
</div>

