<%= render 'shared/banner' %>


<div class="container">

  <h1 class="mt-5"> Join millions of others renting their unused tools on Borrow</h1>

<div class="home-container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1597262418655-ab2fd59a4186?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80)">
    DIY
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523301551780-cd17359a95d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80)">
    Garden
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1556911261-6bd341186b2f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
    Kitchen
  </div>
</div>

</div>
<!--
<div class="container" style="min-height: 100vh">
  <div class="row justify-content-center">

  </div>
</div>

 -->
