<%= render 'shared/banner' %>
<!-- <div class="home-banner">
  <h1>Le Wagon</h1>
</div> -->


<div class="container">
  <div class="row justify-content-center">
    <div class="btn-tool">
      <%= link_to 'Add a new tool', new_tool_path  %>
    </div>
    <div class="btn-tool">
      <%= link_to 'See all tools', tools_path  %>
    </div>
  </div>
</div>
