<%= render 'shared/banner' %>


<div id="categories">

  <p class="mt-5">What type of tools do you need?</p>

  <div class="home-container">
    <div class="card-category" style="background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1540103711724-ebf833bde8d1%3Fixlib%3Drb-1.2.1%26ixid%3DeyJhcHBfaWQiOjEyMDd9%26auto%3Dformat%26fit%3Dcrop%26w%3D1055%26q%3D80)">
      DIY
    </div>
    <div class="card-category" style="background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1589051039495-eb77709c8268%3Fixlib%3Drb-1.2.1%26auto%3Dformat%26fit%3Dcrop%26w%3D934%26q%3D80)">
      Garden
    </div>

    <div class="card-category" style="background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1556910096-6f5e72db6803%3Fixlib%3Drb-1.2.1%26ixid%3DeyJhcHBfaWQiOjEyMDd9%26auto%3Dformat%26fit%3Dcrop%26w%3D1950%26q%3D80)">
      Kitchen
    </div>
  </div>

</div>
<!--
<div class="container" style="min-height: 100vh">
  <div class="row justify-content-center">

  </div>
</div>

 -->
