.banner {
  background-size: cover;
  background-position: center;
  background-color: #6915DB;
  padding: 10vw;
  display: flex;
  align-items: center;
  justify-content: left;
  min-height: 100vh;
  background-image: url("assets/images/paws");
  font-family: Nunito;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 175px;
  font-weight: bold;
  margin-left: -10px;
}

#tools-tagline {
  font-size: 33px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: $headers-font;
}

#sub-tagline {
  font-size: 27px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: $headers-font;
}

#search-bar {
  max-width: 880px;
}

#search-bar>* {
  display: flex;
  flex-direction: row;
}

#search-bar .form-control {
  height: 50px;
}

#search-button {
  margin-left: 5px;
  border-radius: 10px;
}

.search-form-control {
  position: relative;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.home-banner {
  background-image: url('TODO: A picture URL from unsplash.com!');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.css-typing {
  display: flex;
}

.css-typing p {
  border-right: .08em solid #FEB707;
  font-size: 35px;
  color: #FEB707;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 7.5em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 5s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 6.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 5s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #FEB707;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #FEB707;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #FEB707;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #FEB707;
  }
  100% {
    opacity: 1;
    border: none;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}



