.step-card {
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.step-card:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}


.main-container {
  display: flex;
}

.card-bookings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

}

.card-category {
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 32%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: -webkit-filter ease 1s;
  -moz-transition: -moz-filter ease 1s;
  -o-transition: -o-filter ease 1s;
  -ms-transition: -ms-filter ease 1s;
  transition: filter ease 0.3s;
}

.card-category a {
  color: white;
  font-size: 40px;
  font-family: Goldman;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-category:hover a {
  text-decoration: none;
}


.card-category:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  filter: grayscale(20%);
  -webkit-filter: grayscale(20%);
  -moz-filter: grayscale(20%);
  -ms-filter: grayscale(20%);
  -o-filter: grayscale(20%);
}


.card-product {
  overflow: hidden;
  height: 120px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
}

.card-marker {
  overflow: hidden;
  height: 120px;
  width: 200px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
}


.card-marker img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-marker h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-marker p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-map {
  overflow: hidden;
  height: 120px;
  width: 350px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
}


.card-map img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-map h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
}
.card-trip:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  transition: 0.2s;
}
.card-trip > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  border-radius: 50%;
  height: auto;
}


.card-map p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  margin: 8px;
}


.card-details {
  overflow: hidden;
  height: 120px;
  width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 8px;
}

.card-details p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
}

.tools {
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  flex-grow: 1;
  width: 66%;
  margin-right: 16px;
}

